n8n_design_workflow.json
{
  "name": "BrandFlow Image Generator",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "brandflow-design",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [ 200, 300 ]
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "generate",
        "prompt": "={{$node[\"Webhook\"].json[\"body\"][\"prompt\"]}}",
        "size": "1024x1024"
      },
      "name": "OpenAI (DALL-E)",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [ 460, 300 ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"success\",\n  \"asset_type\": \"{{$node[\"Webhook\"].json[\"body\"][\"asset_type\"]}}\",\n  \"image_url\": \"{{$node[\"OpenAI (DALL-E)\"].json[\"data\"][0][\"url\"]}}\"\n}",
        "options": {}
      },
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [ 720, 300 ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [ { "node": "OpenAI (DALL-E)", "type": "main", "index": 0 } ]
      ]
    },
    "OpenAI (DALL-E)": {
      "main": [
        [ { "node": "Respond to Webhook", "type": "main", "index": 0 } ]
      ]
    }
  }
}
